.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item.active {
  background-color: inherit;
  color: var(--black);
  padding-left: 20px;
  position: relative;
}

.dropdown-menu .dropdown-item::before {
  position: absolute;
  content: "";
  width: 5px;
  background-color: var(--main-color);
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s linear 0s;
}

.dropdown-menu .dropdown-item:hover::before,
.dropdown-menu .dropdown-item.active::before {
  opacity: 1;
}

.shop .tab-content .row figure span:nth-of-type(1) {
  top: 20px;
  right: 20px;
}

.shop .tab-content .row figure:hover .addBtn {
  opacity: 1 !important;
}

.shop .tab-content .row figure .addBtn {
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  transition: all 0.2s linear 0s;
}
.shop .tab-content .row figure .addBtn:hover {
  background-color: var(--blue) !important;
}

.shop .nav-pills .nav-link {
  color: var(--black);
  font-weight: 600;
}

.shop .nav-pills .nav-link:hover,
.shop .nav-pills .nav-link.active {
  background-color: var(--main-color);
  color: var(--white);
}
